/*Stylesheet for login*/







/*
            LOGIN STYLE
*************************************
*************************************
*************************************
*/



/*
      CREARPROFESORES STYLE
*************************************
*************************************
*************************************
*/

.CrearProfesoresForm{
    width: 90%;
    height: 450px;
    max-width: 700px;
    margin: auto;
    background: rgba(0,0,0,0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20PX;
    border-radius: 10px;
    
}



.BotonesAbajo{
    text-align: center;
    position: relative;
    left: 0%;
    top: 5px;
}

inputs {
    width: 70%;
    margin-bottom: 30px;
    margin-top: 0px;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
    float: right;
}

.inputs3{
    width: 70%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: px;
    margin:0;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 15px;
    *overflow: hidden;
}


.inputs33{
    width: 70%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin:0;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 15px;
    font-size: 15px;
    *overflow: hidden;
}

.inputs34{
    width: 70%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin:0;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 5px;
    font-size: 15px;
    *overflow: hidden;
}

.inputs35{
    width: 70%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: 0px;
    margin:0;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 15px;
    font-size: 15px;
    *overflow: hidden;
}

/*
.boton{
    padding: 5px;
    width: 100px;
    
    
}
*/
/* Para los inputs que estan comentados*/
.labelc1{
    display: block;
    padding-left: 15px;
    padding-bottom: 5%;
    text-indent: -15px; 
    
    
}

#direccion{
    min-height: 100px;
    max-height: 100px;
    min-width: 215px;
    max-width: 200px;
    float: right;
    margin-bottom: 20px;
    margin-top: 0px;

    
}

.checkboxs{float: right; ;}

#columna1 {width: 45%;}
#columna2{width: 40%}
/*
#columna3{}
#columna4{}
*/

/* CREARMATERIA */

#TieneLaboratorioLabel {
text-align: center;
}

.inputsCrearMaterias{
    width: 30%;
    padding: 5px;
    margin-bottom: 30px;
    margin-top: px;
    margin:0;
    vertical-align: bottom;
    box-sizing: border-box;
    position: relative;
    top: 5px;
    left: 8px;
    font-size: 15px;
    *overflow: hidden;
}

/*Los label de esta seccionheredaran de la seccion CrearProfesores*/
.LabelCrearAsignatura{
        display: block;
    padding-left: 15px;
    padding-bottom: 1%;
    text-indent: -5px; 
    
    
}
