/*
.LoginBody {
    background-image: url(1.jpg);
    background-size: 100vw 100vh;
    background-attachment: fixed;
    margin: 0;
    font-family: sans-serif;
}
*/
/* input de tamaño 50 */
.space50{
    width: 48%;
    
}
/* input de tamaño 100 */
.space100{
    width: 100%
}
select{
    color: gray;
}

.space50, .space100{
    margin-bottom: 15px;
    padding: 15px;
    box-sizing: border-box;
    border: 1px solid lightskyblue;
    font-size: 15px;  
}
.dataContainer{
    padding: 10px 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 5px;
}
.btn-registroUsr{
    margin: auto;
    box-shadow: 0px 2px 0px rgba(0, 0, 255, 0.94) !important;
}
.btn-registroUsr:active, .btn-solicituU:active{
    position: relative;
    top: 2px;
    box-shadow: 0px 0px 0px !important;
}
.btn-solicituU{
    margin: 0 auto;
    box-shadow: 0px 4px 0px rgba(21, 21, 21, 0.94);
}
/*
.permisos>div>label:nth-child(2){
    background: #000000;
    width: 30px;
    height: 30px;
    border-radius: 100%;
    position: static;
    left: 5px;
    
    z-index: 0;
}
*/
/*
.permisos>div>label:nth-child(3){
    background: #9d9d9d;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    position: relative;
    z-index: 1;
    right: -4px;
    top: 4px;
    

}
*/
.permisos{
    justify-content: space-between;
    display: flex;
/*    margin-top: 10px;*/
    
}
.permisos > div > label {
        color: #505050;

}

.dataContainer > textarea {
    margin-bottom: 20px;
}
.labelRec{
/*    background: white;*/
    position: relative;
    left: 18px;
    color: #777777;
    font-family: sans-serif;
    font-weight: 100;
    margin: 0;
    font-size: 15px; 
}
.dataContainer > p{
    font-size: 20px;
    color: aliceblue;
/*    font-family: sans-serif;*/
    font-weight: 500;
/*    justify-content: space-between;*/
    text-align: justify;
/*    margin-top: 20px;*/
    margin-bottom: 22px;
    
}
.registroBody{
    margin: 0;
    font-family: sans-serif;
/*    background: #37a5bf;*/
    background: lightblue;
}

.registroBody > h2{
    color: #fff;
    text-align: center;
    
}
.registroBody > form{
    width: 95%;
    max-width: 500px;
    margin: auto;
    background: white;
    border-radius: 7px;
    margin-top: 10%;

/*    box-shadow: 0px 0px 5px 1px #fff;*/

    
}
.registroBody > form > h2{
    background-color: rgba(0, 167, 255, 0.54);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgba(42, 42, 255, 0.43);
    
}

.form_titulo{
    background-color: rgba(14, 16, 16, 0.54);
    color: #fff;
    padding: 20px;
    text-align: center;
    font-size: 23px;
    font-weight: 100;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    border-bottom: 5px solid rgba(0, 0, 0, 0.43);
    margin-top: auto;  
    text-shadow: 0px 0px 1px white;
    margin-bottom: auto;
}

/*
.registroBody > form > div > button{
    padding: 10px 20px;
    border-radius: 4px;
    font-family: sans-serif;
    font-size: 15px;
    margin: auto;
   
}
*/

.newLogin{
/*    background: rgba(20, 48, 50, 0.98); */
    background: lightblue;
}
.newLogin h3{
    text-align: center;
    color: white;
    font-family: sans-serif;
    font-size: 34px;
    font-weight: 400;
    text-shadow: 2px 2px 2px rgba(255, 255, 255, 0.15);
}
/* New loging backSpace */
.backSpace {
/*    background-color: red;*/
    width: 500px;
    height: 300px;
    background: rgba(0, 0, 0, 0.59);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
}
.backSpace2 {
/*    background-color: red;*/
    width: 550px;
    height: 500px;
    background: rgba(0, 0, 0, 0.59);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid rgba(0,0,0,0.2);
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px white;
}
.botonSpace{
    display: inline-block;
    width: 140px;
    height: 60px;
    padding: 8px 18px;
    background: rgba(62, 62, 62, 0.59);
    position: relative;
    top: 100px;
    left: 70%;
    border-radius: 7px;
    box-shadow:0 15px 10px rgba(0, 0, 0, .35), 0 8px 0 rgba(62, 62, 62, 0.59);
    color: white !important;
    font-family: sans-serif;
    font-size: 14px;
    font-weight: 500;
    text-align: justify;
    text-decoration: none !important;

    
}

.botonSpace:hover{
    text-decoration: none !important;
    color: white !important;
    text-shadow: 0px 0px 10px white;

/*    text-shadow; */
    background: rgba(62, 62, 62, 0.70);
}
.botonSpace:active{
    box-shadow:0 12px 7px rgba(0, 0, 0, .35), 0 4px 0 rgba(62, 62, 62, 0.80);
    position: relative;
    top: 103px;
    left: 70%;

    
}

.login-form{
    display: block;
    width: 320px;
    height: 40px;
    padding: 10px;
    font-size: 14px;
    font-family: sans-serif;
    color: white;
    background: rgba(0,0,0,0.3);
    outline: none;
    border: 1px solid rgba(0,0,0,0.3);
    border-radius: 5px;
    box-shadow: inset 0px -5px 45px rgba(100, 100, 100, 0.2),0px 1px 1px rgba(255,255,255,0.2);
    margin-bottom: 10px;
}
/*
.login-form:active{
    background: rgba(23, 82, 136, 0.26);
}
*/
.newLoginDatos button{
    background: #2b7fbf;
    font-size: 18px;
    text-align: center;
    line-height: 0;
    border: 1px solid rgba(0, 0, 255, 0.28);
    box-shadow: 0 5px #205a86;
    
}
.newLoginDatos button:active{
    position: relative;
    top: 1px;
    box-shadow: 0 3px #205a86;

    
}

.newLoginDatos button:hover{
    background: #2b64bf;
    border: 0px;
}
.newLoginDatos a{
    color: #a1a7ac;
    font-size: 13px
    
}
.newLoginDatos a:hover{
/*    text-decoration: underline;*/
    color: rgba(255, 255, 255, 0.76);
/*    background: rgba(255, 255, 255, 0.13)*/
    
}
/*
.ckbRecord label{
    color: #b2abab;
    position: relative;
    bottom: 2px;
    left: 3px;
    font-weight: 100 !important;
}
*/
.ckbRecord{
    width: 11%;
    float: left;
   
}
#labelOrigen{
    margin-top: 3px;
    margin-bottom: 10px;
    color: #a1a7ac !important;
    position: relative;
    right: 20px;
    font-weight: 100;
    font-family: sans-serif;
    font-size: 13px;
}
#ckbOut{
    width: 20px;
    height: 20px;
    background: #ddd;
    position: absolute;
    z-index: 0;
    top: 169px;
    left: 0px;
/*    margin: 8px 0px;*/
    
    border-radius: 100%;
    box-shadow: 0px 1px 3px rgba(0,0,0,0.5);
    
}
#ckbIn{
    display: block;
    width: 14px;
    height: 14px;
    position: absolute;
    z-index: 1;
    top: 172px;
    left: 3px;
    border-radius: 100%;
    
    transition: all .5s ease;
    cursor: pointer;
    
    background: #333;
    box-shadow: inset 0px 1px 3px rgba(0,0,0,0.5); 
}

#ckb:checked + label{
    background: #26ca28;
}

.ckbRecord input{
    visibility: hidden; 
}
.newLoginDatos{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.img-clase{
    margin-bottom: 30px;
}
.filtroClases:first-child {
    border-right: 0;
}
.selectCon{
    font-weight: bold;
    font-size: 13px;

}
.tdVerDetalle{
    text-align: center;
}

.toCenter{
    margin: 0 auto;
    text-align: center;
    margin-bottom: 20px;
}
.filtroClases{
       border-right: 0; 
    
        padding: 0px 0px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 1%;
    white-space: nowrap;
    vertical-align: middle;
    display: table-cell;
    box-sizing: border-box;
        position: relative;
    display: table-cell;
    border-collapse: separate;
}
.h2EH{
    margin-bottom: 45px;
    margin-top: 50px;
}
body > div > div > div > div > table, body > div > div > div > div > div > table{
    margin: 0 !important;
}
body > div > div > div > div > table > thead,body > div > div > div > div > div > table > thead{
    background-color: rgba(28, 58, 155, 0.42) !important;
}
.title, body > div > form > h2, body > form > h2, body > div > h2, body >h2{
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 1px;
    line-height: normal;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.38);
    color: rgba(44, 44, 54, 0.94);
}
/*
.date2{
    margin: auto;
    margin-top: 50px;
    margin-bottom: 20px;
    width: 100% !important;
}
*/

.ButtonConti{
    margin-bottom: 10px !important;
}

.claseReport{
       
    width: 90%;
    margin: 0 auto;
    height: 100px;
    border: 3px solid rgba(18, 18, 18, 0.09);
    overflow: auto;
    
}

.table-limited > thead > tr > td {
    display: none;
}
/*
 
.arrow_box {
	position: relative;
    top: 250px;
	background: #88b7d5;
	border: 4px solid #c2e1f5;
}
.arrow_box:after, .arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(136, 183, 213, 0);
	border-bottom-color: #88b7d5;
	border-width: 30px;
	margin-left: -30px;
}
.arrow_box:before {
	border-color: rgba(194, 225, 245, 0);
	border-bottom-color: #c2e1f5;
	border-width: 36px;
	margin-left: -36px;
}
*/




.jumbotron{
    font-family: 'Terminal Dosis', sans-serif;

    
}

.body1 {
    background-color: lightblue;
/*    font-family: 'Terminal Dosis', sans-serif;*/
}
/*
.testbg{
    background-image: url(Auxiliares/img/noisebg.png);
}
*/
/*
.content{
  width: 100%;

  padding: 50px;
  padding-bottom: 60px;
    
   white radial gradient background 
  background: -moz-radial-gradient(center, ellipse cover,  rgba(255,255,255,0.5) 0%, rgba(255,255,255,0) 70%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,255,255,0.5)), color-stop(70%,rgba(255,255,255,0)));
  background: -webkit-radial-gradient(center, ellipse cover,  rgba(255,255,255,.9) 20%,rgba(255,255,255,0) 70%);
  background: -o-radial-gradient(center, ellipse cover,  rgba(255,255,255) 0%,rgba(255,255,255,0) 70%);
  background: -ms-radial-gradient(center, ellipse cover,  rgb(255, 255, 255) 0%,rgba(255,255,255,0) 70%);
  background: radial-gradient(center, ellipse cover,  rgba(255,255,255) 0%,rgba(255,255,255,0) 70%);
}
*/


.CustomButton {
    margin-left: 40%;
}

.cklabel {
    text-align: center;
    display: block;
}

.jcnevula {
    text-align: center;
    font-size: 17px;
    color: rgba(37, 40, 48, 0.85);
}

.infosE2 {
    display: none !important;
}

.ckinputm {
    position: relative;
    left: 6px;
}

.ckinputl {
    position: relative;
    left: 23px;
}

.ckinputv {
    position: relative;
    left: 14px;
}

.ckinputj {
    position: relative;
    left: 3px;
}

.ckblock {
    position: relative;
    left: 5.5%;
    top: 5px;
}

.ckbotones {
    text-align: center;
    margin-top: 15px;
}
#alertActualizada{
    text-align: center;
}

.ckbotonesE {
    text-align: center;
    margin-top: 20px;
}

.HPLbutton {
    display: block;
    margin: 0 auto;
}

h2 {
    text-align: center;
    margin: 0;
    font-size: 35px;
    margin-bottom: 30px;
    margin-top: 5px;
}
.diasHorario{
/*    para alinear a la izquierda los labels del modal horario select */
    text-align: center;
    margin: 0 auto;
    margin-top: 15px;
/*    width: 50%;*/
}


#date{
    width: 200px;
    margin: 0 auto;
}

.CrearProfesoresForm {
    width: 90%;
    height: 650px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20PX;
    border-radius: 10px;
}

.CrearProfesoresForm1{
    width: 90%;
    height: 650px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 20PX;
    border-radius: 10px;
}

.CrearAsignaturaForm {
    width: 90%;
    height: 490px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50PX;
    border-radius: 10px;
}

.blacked-01 {
    width: 90%;
    height: 100px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50PX;
    border-radius: 10px;
}

.reposicion > select , .reposicion > span{

    border-radius: 10px;
/*    column-width: 10px;*/
        z-index: 1 !important;

}

.reposicion{

/*    column-width: 100px !important;*/
    width: 300px;
    text-align: center;
    margin: 0 auto;

}

.blacked-05 {
    width: 50%;
    height: 200px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50PX;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
/*    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.38);*/
/*    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);*/

}

.blacked-reposicion {
    width: 50%;
    height: 211px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 50PX;
    border-radius: 10px;
    text-align: center;
    font-size: 16px;
/*    text-shadow: 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.38);*/
/*    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.38);*/

}
/*
.blacked-05 > div >{
    
}
*/
.blackness01{

    position: absolute;
    bottom: 25px;
    margin: 0 auto !important;

}
.blacked-02 {
    width: 90%;
    height: 240px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
}
.blacked-Repo {
    width: 100%;
    padding: 50px;
    height: 240px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
}
.blacked-03 {
    width: 35%;
/*    width: 30%;*/
    height: 65px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
}
.blacked-04 {
    width: 50%;
/*    width: 30%;*/
    height: 80px;
    max-width: 700px;
    margin: auto;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin-top: 30px;
    border-radius: 10px;
    text-align: center;
    text-transform: capitalize;
    
}
#NombreClase, #date2{
    max-width: 300px;
    width: 300px !important;
    margin: 0 auto;
    border-radius: 10px;
/*    margin-top: 4px*/
}
#NombreClase{
    margin-top: 5px;
}
#date2{
    margin-top: 15px;
/*    margin-bottom: 0px;*/
}
.alertFR1{
    width: 500px;
    margin: 0 auto;
    display: none;
}

.ckselechorario {
    position: relative;
    left: 30%;
    top: 100px;
}

.ckSLboton {
    text-align: center;
    margin-top: 5px;
}
.ckSLboton2 {
    text-align: center;
    margin-top: 12px;
}

.ckmargenini {
    margin-bottom: 25px;
}
/*
.table-obd>tbody>tr>th{
    text-align: center;
}
*/


.LoginForm {
    width: 50%;
    max-width: 400px;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    position: relative;
    left: 30%;
    top: 200px;
    border-radius: 10px;
}

.LoginInputs {
    width: 80%;
    margin-bottom: 30px;
    margin-top: 5px;
    margin-left: 10%;
    padding: 5px;
    box-sizing: border-box;
    font-size: 15px;
}

.LoginLabels {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10%;
}

.ckpanel {
    text-align: center;
    font-weight: 700;
}
.alertAAP{
    margin-top: 20px;
}
.vacio01{
/*    display: inline-block;*/
    display: none;
}
/*
.vacio02{
    display: inline-block;
}
.clause{
    visibility: hidden;
}
*/

.diasHorarios{
    margin-top: 80px;
    margin-bottom: 340px;
/*
    position: relative;
    top: 20px;
*/
}

.diasHorarios > div > label {
margin-top: 20px;

}
#nombreHoraio{
    width: 350px;
    margin: 0 auto;
}

.ckpanelbody {
    height: 111px;
}

.test {
    opacity: .5;
}

.body-schedule{
    background-color: rgba(10, 0, 255, 0);
}
.ckinputDD {
    position: relative;
    left: 18px;
}

.EAEButton, .table-obd>tbody>tr>th{
    text-align: center;
    margin-top: 3px;
}



.asd {
    background-color: ;
    /*    display: none;*/
}

.btnEstatus{
    background-color: rgb(24, 140, 69);
    border-color: rgba(57, 164, 46, 0.30);
    
}
.btnEstatus: hover{
    background-color: rgba(37, 212, 41, 0.59);
    border-color: rgba(57, 164, 46, 0.24);
    
}

.ND{
    display: none;
}

#alertNH{
    position: absolute;
    top: 170px;
    z-index: 1;
    left: 32%;
}
#alertNH, #alertDupli > p{
    text-align: center;
}

#alertDupli{
    position: absolute;
    top: 100px;
    z-index: 1;
    left: 32%;
}

.canvas-reports {
    position: relative;
    display: block;
    margin: 20px;
    right: 20px;
}

.scrollDivTable {
   
    width: 100%;
    height: 500px;
    border: 3px solid rgba(18, 18, 18, 0.09);
    overflow: auto;

}
.table-profList{
    width: 99.8%;
    margin: auto;    
}
.table-profList>thead>tr>th, .table-profList>tbody>tr>td, .table-profList{
    border: 1px solid rgba(34, 34, 39, 0.16);
}

.table-reports > tbody > tr:hover {
    background-color: rgba(0, 0, 0, 0.2);
    
}

.table-reports > thead {
    /*    background-color: rgba(192, 193, 193, 0.47):*/
    background-color: rgba(0, 0, 0, 0.45);
}


/*
.table-reports>thead>tr>th{
    border: 1px solid #fff;
}
*/


/*
.body-dashBoard{
    background-color: rgba(37,40,48,1);
    font-family: Montserrat;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    color: gainsboro;  
    
}
*/

.Bloque-sideL,
.Bloque-sideR {
    /*    margin: 5px;*/
    margin-top: 20px;
    text-align: justify;
    color: dodgerblue;
    /*    margin: 20px;*/
}

.rounded {
    border-radius: 20px;
    padding: 7px;
    font-size: 15px;
    margin: 1px;
}

.top-items {
    margin: 10px;
}


/*
.paneles-reportsL, .paneles-reportsR{
    max-width: 300px !important;
    height: 300px;

}
*/


/*
.paneles-reportsR{
    max-width: 300px !important;
    height: 300px;

}*/
.bloque{
    display: inline-block;
    margin-top: 10px;
}

.table-consulta {
    margin-top: 70px;
}

.Sicon {
    display: block;
    font-size: 20px;
}

.EditAsignaturaForm {
    width: 50%;

    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;

    border-radius: 10px;
}
.EditHorarioBlk {
    width: 60%;

    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;

    border-radius: 10px;
}

.EditAsignaturaForm2 {
    width: 50%;
/*    height: 63px;*/
    height: 100px;
    /*    max-width: 400px;*/
    display: block;
    background: rgba(0, 0, 0, 0.1);
    padding: 10px 20px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-top: 10px;
    /*
    position:relative;
    left: 30%;
    top: 100px;
*/
    border-radius: 10px;
}
.botonDataList{
    background: none;
    border: 0;
/*    text-decoration: none;*/
}
/*
.dataList{
    border-radius: 10px;
    auto
}
*/


.Editar-Materia-Glyphicon {
    font-size: 100px;
    text-align: center;
    color: rgba(69, 95, 128, 1);
}

.Editar-estatus-Glyphicon {
    font-size: 110px;
    text-align: center;
    color: rgba(69, 95, 128, 1);
    position: relative;
    top: 10px;
}


/*
.glyphicon-off{
    font-size: 20px;
}
*/

.Img-Del-Asig {
    width: 125px;
    display: block;
    margin: 0 auto;
}

.EditForm {
    text-align: center;
}

.EAFL {
    position: relative;
    left: 2px;
}

.EAFR {
    position: relative;
    right: 2px;
} 

.EAFB>input {
    max-width: 200px;
    margin: 0 auto;
}

.Editar-Materia-Glyphicon2 {
    display: block;
    font-size: 90px;
    text-align: center;

}

.RequeridoText {
    color: rgba(50, 163, 45, 0.69);
    font-size: 8px;
    position: relative;
    bottom: 4px;
    left: 2px;
    padding-bottom: 6px;
    display: inline-block;
}

.cancelar02:hover {
    color: red !important;
    /*    background-color: rgba(195, 73, 73, 0.54) !important;*/
}

.aceptar01:hover {
    color: red !important;
}

.alertCondi {
    position: relative;
    top: 50px;
    padding: 40px;
    width: 80%;
}

.statickBlock {
    display: inline-block;
    margin: 70px;
    background-color: aqua;
}

.NoShow {
    display: none;
}

.alertProfesor {
    position: relative;
    top: 10px;
}
.seccion{
    display: block;
    width: 86%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: inherit;
    text-transform: none;
    margin: 0 auto;
    font: inherit;
    box-sizing: border-box;
}

.SeccionesHorarios{
    background: rgba(0, 0, 0, 0.1);
    padding: 20px 10px;
    box-sizing: border-box;
    margin-top: 10px;
    border-radius: 15px;
    height: 294px;
    text-align: center;
}
.SHFater{
    padding: 3px !important;
}
}
.SHFater{
    position: relative !importat;
    left: 500px !important;
}
.CCT{
    font-size: 17.9px;
}

.selectHorarios{
    margin-top: 13px;
}
.Glyphicon-Clases{
    display: block;
    font-size: 90px;
    margin: 18px;
}

.seccion2{
    display: block;
    width: 274px;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555;
    background-color: #fff;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
    webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    font-family: inherit;
    text-transform: none;
    margin: 0 auto;
    font: inherit;
    box-sizing: border-box;
}
.closeA {
    position: relative;
    top: -15px;
    right: -10px;
    font-size: 18px !important;
}

.alertCondi3 {
    display: none;
    position: relative;
    top: 20px;
}

.cancelar01:hover {
    color: rgb(22, 198, 69) !important;
}

.ckCarrera {
    max-width: 300px;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 150px;
    border: 10px;
}

.lolazo {
    width: 100%;
}

.inputtd {
    margin: 0;
    padding: o;
    width: 100%;
    border-width: 0px;
}

.ckEditPensum {
    text-align: center;
    margin-top: 10px;
}

.ckEditPensum2 {
    margin-top: 20px;
}



.btn-proyect {
    max-width: 100% !important;
}

.Requerido {
    position: relative;
    top: 3px;
    color: firebrick;
    font-size: 17px;
    box-sizing: border-box;
}

.Requerido-Text {
    color: firebrick;
    font-size: 9px;
}

.testing[title] {
    position: relative;
    top: 50px;
}

div[title] {}

.testing[title] {
    color: aqua
}

.UpdateAlert {
    text-align: center;
    margin-top: 10px;
    /*    border-width: 10px;*/
    /*
    border-color: aquamarine;
    background: rgba(127,255,228,0.64);
*/
}

.ck-editarPensum {
    float: right;
}

.VisualSelect {
    position: relative;
    top: 4px;
}

.BlockLab {
    display: none;
    /*    opacity: 0;*/
}

